
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:  "Poppins", serif;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3B1E54;
}
h3{
    color: #3B1E54;
}
input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #9B7EBD;
    border-radius: 0;
    margin-bottom: 1rem;
    font-size: 13px;
    outline: none;
    margin-top: 10px;
    color: gray;
}
input:focus,select:focus{
    border-bottom: 2px solid #3B1E54 ; 
}
input[type="date"] {
    font-size: 12px; 
    color: gray;
}
select{
    font-size: 12px;
    padding: 3px;
    margin-top: 5px; 
    border: none;
    border-bottom: 2px solid #9B7EBD;
    outline: none;
    margin-bottom: 1rem;
    color: gray;
}

label{
    font-size: 13px;
    color: #3B1E54;
}
.p1{
    color: #3B1E54;
    font-size: 15px;
}
.required {
    color: red;
  }
  
.container{
    max-width: 1500px;
    margin-inline: auto;
}
.form{
    margin-inline: auto;
    width: 90%;  
    box-sizing: border-box;
}

.profile{
    font-size: 1.1rem;
}
.set{
    position: relative;
    bottom: 1rem;
    color: gray;
}
.tab {
    display: none;
  }

.tab.active {
    display: block;
  }
.buttons {
    margin-top: 20px;
    text-align: center;
    float: right;
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.button2{
    width: 8%;
}
.buttons button {
    padding: 10px;
    background-color: #9B7EBD;
    color: #3B1E54 ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 12px;
}

.buttons button:hover {
    background-color: #3B1E54 ;
    transform: scale(1.05);
    color: #EEEEEE;
}

.upper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}
  
.input {
    flex: 1 1 30%;
    min-width: 200px;

    input{
        width: 70%;
    }
  }
  
.center {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .input, .input2 {
    flex: 1 1 30%;
    min-width: 200px;
  }
  

  .input2 input,
  .input2 select {
    width: 100%;
  }
  
  .input2 {
    display: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .input2 input {
    width: auto;
    margin-right: 5px;
  }
  
  .input2 label {
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .input2 .radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .center2{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  .foot{
    position: relative;
    bottom: 1rem;
  }
  .foot1{
    display: flex;
    justify-content: space-between;
  }

  .foot2{
    display: flex;
    align-items: center;
    width:100%;

    input{
        width: 30%;
    }
  }